$icon-font-path: '../fonts/';

$state-success-text: #00b300;
$state-danger-text: #ff0000;
$link-color: #0000FF;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding-top: 10px;
}

.input-group {
  width: 100%;
}

.input-group-addon {
  width: 120px;
}
