$icon-font-path: '../fonts/';

$font-family-sans-serif:  "Yu Gothic", sans-serif;

$state-success-text: #00b300;
$state-danger-text: #ff0000;
$link-color: #0000FF;

@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  padding-top: 10px;
}

.input-group {
  width: 100%;
}

.input-group-addon {
  width: 130px;
}
